*{
    margin: auto;
    padding: auto;
    text-decoration: none; 
}
.parallax{
    height: 100vh; /* Prendra 100% de la hauteur du viewport, et donc de l'écran */
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-image: url('/images/rey-seven-_nm_mZ4Cs2I-unsplash.jpg');
    display: flex;
    flex-direction: column;
}
.parallax2{
    height: 100vh;
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
    background-size: cover; /* L'image prendra 100% de l'espace, quitte à la crop */
    background-position: center; /* Centre la position de l'image */
    background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
    background-image: url('/images/henry-be-lc7xcWebECc-unsplash.jpg');

}
.flipfleche{
    display: flex;
    align-items: center;
}
.flipfleche svg{
    -webkit-animation:slide-bottom 2s cubic-bezier(.25,.46,.45,.94) infinite forwards;
    animation:slide-bottom 2s cubic-bezier(.25,.46,.45,.94) infinite forwards
}
 
@-webkit-keyframes slide-bottom{
    0%{
        -webkit-transform:translateY(0);transform:translateY(0)
    }
    100%{
        -webkit-transform:translateY(100px);transform:translateY(100px)
    }
    }
@keyframes slide-bottom{
    0%{
        -webkit-transform:translateY(0);transform:translateY(0)
    }
    100%{
        -webkit-transform:translateY(100px);transform:translateY(100px)
    }
}



.titre{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}
.titre h1{
    margin: auto;
    padding: auto;
    margin-bottom: 7rem;
    
}
h1{ 
    font-family: 'SketchedCassiusBroken', sans-serif;
    font-size: 65px;
        background-image: url('/images/tissu-satin-rouge-largeur-140-cm-le-ml.jpg');
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        margin-bottom: 3rem;
      
}
.containerdutext{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagedutitre{
    margin-top: 3rem;
}
.imagedutitre img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;

}
.texte{
    background-color: rgba(0, 0, 0, 0.311);
    width: 800px;
    display: flex;
    text-align: center; 
    flex-direction: row;
    margin-top: 8rem;
    font-family: 'TypoLatinserif-Bold', sans-serif;

                                               
}
.texte p{
    color: white;
    font-family: 'Caros', sans-serif;
    font-size: 22px;
    padding-top: 0.8rem;
    
}
span{
    font-family: 'SketchedCassiusBroken', sans-serif;
    background-image: url('/images/tissu-satin-rouge-largeur-140-cm-le-ml.jpg');
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    font-size: 40px;
}



/* Enlève la scroll bar */
::-webkit-scrollbar {
display: none;
}
